---
export interface Props {
  header?: { show: boolean, title: string }
}

const { header } = Astro.props
---

<section class="border dark:border-gray-700 p-5 rounded-lg md:rounded-xl w-full bg-white dark:bg-gray-800">
  {
    header?.show && (
      <div class="w-full">
        <header class="">
          <h3 class="font-bold text-xl text-black dark:text-white">{header.title}</h3>
        </header>  

        <div class="w-full border border-dashed border-gray-200 dark:border-gray-700 my-5"></div>
      </div>
    )
  }
  <div class="w-full">
    <slot />
  </div>
</section>