---
import Card from "./Card.astro";
---

<Card>
  <div class="flex gap-5 items-center">
    <picture class="min-w-[100px] max-w-[100px] min-h-[100px] max-h-[100px] rounded-full overflow-hidden">
      <img
        src="/images/profile.jfif"
        class="w-full h-full object-cover"
        alt="Foto de perfil - Mauro Araujo">
    </picture>
  
    <div class="w-full">
      <h1 class="text-xl font-bold mb-1 text-black dark:text-white">Mauro Araujo</h1>
      <h3 class="text-gray-500">Web & Mobile Developer</h3>
    </div>
  </div>
</Card>
